<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Usuarios</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link type="image/png" sizes="16x16" rel="icon" href="https://img.icons8.com/3d-fluency/94/user-shield.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <!-- Sidebar -->
        <nav class="sidebar">
            <div class="sidebar-header">
                <h2>Admin Panel</h2>
            </div>
            <ul class="sidebar-menu">
                <li><a href="/dashboard/usuarios/activos"><i class="fas fa-user-check"></i> Usuarios Activos</a></li>
                <li><a href="/dashboard/usuarios/inactivos"><i class="fas fa-user-times"></i> Usuarios Inactivos</a></li>
                <li><a href="/empresas"><i class="fas fa-building"></i> Empresas</a></li>
                <li><a href="/login" onclick="logout()"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="main-content">
            <header class="main-header">
                <h1>Gestión de Usuarios</h1>
                <button id="addUserBtn" class="btn-primary">Agregar Usuario</button>
            </header>

            <!-- User Cards Container -->
            <section class="user-cards-section">
                <div id="userCardsContainer" class="user-cards-container">
                    <!-- Los "cards" de usuarios se insertarán aquí dinámicamente -->
                </div>
            </section>
        </div>
    </div>

    <!-- Modal para agregar usuarios -->
    <div id="addUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addUserModal')">&times;</span>
            <h1>Agregar Usuario</h1>
            <form id="addUserForm">
                <div class="form-group">
                    <label for="addName">Nombre</label>
                    <input type="text" id="addName" required>
                </div>
                <div class="form-group">
                    <label for="addLastname">Apellido</label>
                    <input type="text" id="addLastname" required>
                </div>
                <div class="form-group">
                    <label for="addAddress">Dirección</label>
                    <input type="text" id="addAddress" required>
                </div>
                <div class="form-group">
                    <label for="addUsername">Username</label>
                    <input type="email" id="addUsername" required>
                </div>
                <div class="form-group">
                    <label for="addPassword">Password</label>
                    <input type="password" id="addPassword" required>
                </div>
				<div class="form-group">
                    <label for="addLink">Link</label>
                    <input type="text" id="addLink" required>
                </div>
                <div class="form-group">
                    <label for="addRole">Rol</label>
                    <select id="addRole" required>
                        <option value="1">Administrador</option>
                        <option value="2">Usuario</option>
                    </select>
                </div>
                <button type="submit" class="btn-primary">Guardar</button>
            </form>
        </div>
    </div>

    <!-- Modal para editar usuarios -->
    <div id="editUserModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editUserModal')">&times;</span>
            <h2>Editar Usuario</h2>
            <form id="editUserForm">
                <div class="form-group">
                    <label for="editName">Nombre</label>
                    <input type="text" id="editName" required>
                </div>
                <div class="form-group">
                    <label for="editLastname">Apellido</label>
                    <input type="text" id="editLastname" required>
                </div>
                <div class="form-group">
                    <label for="editAddress">Dirección</label>
                    <input type="text" id="editAddress" required>
                </div>
				<div class="form-group">
                    <label for="editLink">Link</label>
                    <input type="text" id="editLink" required>
                </div>
				<div class="form-group">
                    <label for="addRole">Rol</label>
                    <select id="editRole" required>
                        <option value="1">Administrador</option>
                        <option value="2">Usuario</option>
                    </select>
                </div>
                <button type="submit" class="btn-primary">Guardar</button>
            </form>
        </div>
    </div>

    <script src="/js/usuariosactivos.js"></script>
</body>
</html>
