<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Evento</title>
	<link rel="stylesheet" href="/css/pdf.css">
	<link rel="stylesheet" href="/css/style.css">
	<link type="image/png" sizes="16x16" rel="icon" href="https://img.icons8.com/3d-fluency/94/user-shield.png">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
	<div id="recomendaciones">
		<div>
	        <h1>Detalles del Evento</h1>
	    </div>
	
	    <div id="evento-container"></div>
	</div>
    
	<div class="botones">
		<button type="button" class="btn btn-primary" id="btn-generar" onclick="generarPDF(event) ">
			Generar PDF
		</button>
		<button type="button" class="btn btn-danger" id="btn-regresar">
			Regresar a Matriz
		</button>
	</div>
	
    <script src="/js/pdf.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
	<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
</body>
</html>
